# Web Framework
fastapi
uvicorn[standard]

# Redis
redis==5.0.4
arq

numpy # Required by redisai and for our ML features

# Postgres Connector
psycopg2-binary
sqlalchemy # Optional, but good practice for future DB interactions