# Web Framework
fastapi
uvicorn[standard]

# Redis
redis>=4.2
arq

numpy # Required by redisai and for our ML features

# Postgres Connector
psycopg2-binary
sqlalchemy # Optional, but good practice for future DB interactions